<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main_header__item_list">
            <li class="main-header-item">
                <a href="/shop"> shop</a>
            </li>
            <li class="main-header-item">
                <a href="/admin/add-product">Add product</a>
            </li>
    </ul>
    </nav>
</header>